<nav>
  <ul class="navbar" style="margin: 0 auto;">
    <li class="nav-item">
      <a mat-raised-button color="primary" class="nav-item-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a mat-raised-button color="primary" class="nav-item-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
     <li class="nav-item">
        <a mat-raised-button color="primary" class="nav-item-link" routerLink="/reg" routerLinkActive="active">Register</a>
     </li>
  </ul>
</nav>