/* You can add global styles to this file, and also import other style files */
@import 'angular-material-demo-theme.scss';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
mat-card{border: 0.5px solid #eee;}
/*
.grid-test-1 > figure.mat-figure {
  justify-content: flex-start !important;
}
*/